.Rproj.user
.Rhistory
.RData
.Ruserdata
docs/capitulos/1-analise-base-1.html
docs/capitulos/1-analise-base-1_files/*
docs/capitulos/2-analise-base-2.html
docs/capitulos/2-analise-base-2_files/*
docs/capitulos/3-analise-base-3.html
docs/capitulos/3-analise-base-3_files/*
docs/capitulos/5-unindo-bases.html
docs/capitulos/5-unindo-bases_files/*
docs/capitulos/6-tags.html
docs/capitulos/6-tags_files/*
docs/capitulos/7-price.html
docs/capitulos/7-price_files/*
docs/capitulos/8-reviews.html
docs/capitulos/8-reviews_files/*
docs/capitulos/9-price-tags.html
docs/capitulos/9-price-tags_files/*
docs/capitulos/9-price-tags_cache/*
docs/capitulos/test_cache/*
docs/capitulos/test.html
docs/capitulos/test_files/*

